Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
install-sh
missing
*.log
INSTALL
postgresql*-setup
postgresql*-ctl
postgresql*-setup.1
*.tar.gz
conf/postgresql*
postgresql*.service
