*.service
*.tar.gz
*.log
.generated_files
aclocal.m4
atconfig
atlocal
autom4te.cache/
ChangeLog
config.log
config.status
configure
conf/postgresql*
INSTALL
install-sh
Makefile
Makefile.in
missing
macros.*postgresql*
package.m4
postgresql_pkg_tests.sh
postgresql*-check-db-dir
postgresql*-ctl
postgresql*-new-systemd-unit
postgresql*.service
postgresql*-setup
postgresql*-upgrade
postgresql*-setup.1
README.rpm-dist*
testsuite
testsuite.dir/
initdb
initscript
upgrade
