*.tar.gz
*.log
.generated_files
aclocal.m4
atconfig
atlocal
autom4te.cache/
ChangeLog
config.log
config.status
configure
conf/postgresql*
INSTALL
install-sh
Makefile
Makefile.in
missing
package.m4
postgresql*-check-db-dir
postgresql*-ctl
postgresql*.service
/postgresql*-setup
postgresql*-setup.1
README.rpm-dist
testsuite
testsuite.dir/
initdb
upgrade
